body {
    font-family: 'Poppins', sans-serif;
    background-color: #c3a3a1;
}

.hero {
    height: 100vh;

    background-image: url('../images/hero_dancer.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    padding-left: 0px;
    padding-right: 0px;
    
}

.welcome-container {
    background-color: #3071b6;
}

.about-container {
    background-color: #3071b6;

}

.what-comp-container {
    background-color: #3071b6;
    
}

/* Navbar */

.navbar {
    background-color: #3fb7d2!important;
    
}

.nav-item a {
    color: black !important;
    font-weight: 500;
}

/* Jumbotron */

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);

}

.jumbotron h1 {
     color: white;
}