body {
    font-family: 'Poppins', sans-serif;
    background-color: #c3a3a1;
}

.hero {
    height: 65vh;

    background-image: url('../images/hero_dancer.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    
}

.callout-container {
    padding: 0px;
}

.welcome-container {
    background-color: #3fb7d2;
    margin: 15px 30px 25px 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px #4f352b ;
}

.about-container {
    background-color: #3fb7d2;
    margin: 15px 30px 25px 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px #4f352b ;

}

.who-container {
    background-color: #3fb7d2;
    margin: 15px 30px 25px 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px #4f352b ;

}

.jumbotron h1,
.welcome-container h1,
.about-container h2,
.who-container h2 {
    text-align: center;
}

/* Navbar */

.navbar {
    background-color: #3fb7d2!important;
    
}

.nav-item a {
    color: black !important;
    font-weight: 500;
}

/* Jumbotron */

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);

}

.jumbotron h1 {
     color: white;
}

.uppercase {
    
}